@charset "utf-8";
/* CSS Document */

body {
	font-size:12px;
	font-family:微软雅黑;
	padding:0px;
	border:0px;
	margin:0px;


}
/*审批表格样式*/
.wr_table table {

	color:#999999;
	margin-top:10px;
	border-collapse: collapse;
	border-spacing: 0;
	
}
.wr_table{
	width:1200px;margin:70px auto 30px;}
.wr_table_header {
	
	background-position:top;

}
.wr-table-hd-inner {
	text-align:center;
	overflow:hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#6e6e6e;
	-moz-box-shadow:1px 1px 1px #fff;
	text-align:center;
	padding:1px 2px 1px 2px;
	line-height:40px;
	height:60px;
	font-weight:bold;
	font-size:50px;
	font-family:微软雅黑;


}
.wr-table-hd-inner td {
	padding:1px 0px 1px 0px;



}
.wr-table-td-inner {
	word-break: break-all;
	word-wrap: break-word;
	text-align:center;

	line-height:40px;

	color:#7e7e7e;
	font-family: 微软雅黑;
	color: red;
	font-size:50px;
	height:70px;

}
.wr-table-td-inner td {
	padding:5px 6px 5px 6px;

	word-break: break-all;
	word-wrap: break-word;

}
.wr-table-tr-row td {

	background-repeat:repeat-x;

}
.wr-table-td-selected td {
	background-color: #fef9e0;
	background-image: none;
	padding:5px 6px 5px 6px;
}
