@charset "utf-8";
/* CSS Document */

body {
	font-family:"微软雅黑";
}
#main {
	border:none;
	background:none;
}
body, ul, li, h1, h2, h3, p, form {
	margin:0;
	padding:0;
}
body {
	background:url(../../images/bg.jpg) #1c202b;
	color:#444;
	font-size:14px;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:red;
}
.title {
		font-size:60px;
	font-weight:bold;
	font-family: 微软雅黑;
	color:#fff;

	width:700px;

	margin:0 auto;	margin-top:50px;
}
.jingpin{	
	top: 280px;
	right: 75px;
	position: absolute;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}
#tagscloud {
	width:900px;
	height:900px;
	position:relative;
	font-size:14px;
	color:#333;
	margin:0 auto;
	margin-top:70px;
	padding-bottom:0px;
	background:url(../../images/ball2.png) no-repeat 5px 5px;
}
#tagscloud a {
	position:absolute;
	top:0px;
	left:0px;
	color:#333;
	font-family:"微软雅黑";
	text-decoration:none;
	margin:0 0px 0px 0;
	line-height:68px;
	text-align:center;
	font-size:18px;
	display:inline-block;
	border-radius:3px;
	height:70px;
	width:70px;
	border-radius:50px;
	text-align:center;
	border:3px solid #fff;
}
#tagscloud a.tagc1 {
	background:#FF3;
	color:#000;
}
#tagscloud a.tagc2 {
	background:#06C;
	color:#fff;
}
#tagscloud a.tagc3 {
	background:#ee5f00;
	color:#fff;
}
#tagscloud a.tagc4 {
	background:green;
	color:#fff;
}
#tagscloud a:hover {
	color:#fff;
	background:#0099ff;
}
.select {
	bottom: 30px;
	right: 60px;
	position:absolute;
	color:#fff;
	filter: alpha(opacity=15);
	opacity:0.15;
}
.select1 {
	padding:5px;
	width:140px;
}
.btn1 {
	background:url(../../images/start.png);
	width:147px;
	height:147px;
	float:right;
	cursor:pointer;
	margin-right:-50px;
	margin-top:400px;
}
.btn2 {
	background:url(../../images/stop.png);
	width:147px;
	height:147px;
	float:right;
	cursor:pointer;
	margin-right:120px;
	margin-top:400px;
}
.div_left {
	width:450px;
	height:730px;
	position:absolute;
	top:0px;
	left:0px;
	font-size:14px;
	padding:10px;
	color:#fff;
	padding-top: 200px;
	padding-left: 20px;
	overflow:hidden;
}
.div_left li {
	color:#fff;
	list-style:none;
	width:450px;
}
.div_left li a{
	
	color:#fff;
}
.div_right {
}
/*下拉*/
#jsddm {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 180px;
	right: 130px;
	z-index: 999999;
}
#jsddm li {
	float: left;
	list-style: none;
	font: 14px 微软雅黑;
}
#jsddm li a {
	display: block;
	padding: 6px 6px;
	text-decoration: none;
	width: 70px;
	height:40px;
	line-height:15px;
	color: #EAFFED;
	white-space: nowrap;
}
#jsddm li a:hover {
	background: #24313C
}
#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}
#jsddm li ul li {
	float: none;
	display: inline
}
#jsddm li ul li a {
	width: auto;
	height:15px;
	line-height:15px;
	background: #76818b;
	color: #fff;
	width:120px;
	padding: 3px 6px 3px 10px;
}
#jsddm li ul li a:hover {
	background: #4d555d
}


/*滚动*/
#demo1{
height:auto;
text-align:left;

}
#demo2{
height:auto;
text-align:left;
}
#demo1  li{
list-style-type:none;
height:22px;
background:url() no-repeat left center;
text-align:left;
text-indent:15px;
}
#demo1  li a{
	color:#fff;
}
#demo2  li{
list-style-type:none;
height:22px;
background:url() no-repeat left center;
text-align:left;
text-indent:15px;
}#demo2  li a{
	color:#fff;
}